.chartJs {
  display: flex;
  box-sizing: inherit;
  background-color: white;
}
.barHeight {
  height: 130px;
}
.report {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  box-sizing: border-box;
  &-div {
    display: flex;
    flex-direction: row;
    i {
      padding: 12px 17px;
      background-color: lightgray;
      border-radius: 5px;
      display: block;
      width: fit-content;
      align-self: center;
      color: grey;
      svg {
        font-size: 18px;
      }
    }
    div {
      margin-top: 5px;
      margin-left: 15px;
      span {
        font-size: 14px;
        font-weight: 300;
        color: black;
        font-family: "Montserrat", Arial, Tahoma, sans-serif;
      }
      h1 {
        font-weight: 400;
        font-size: 24px;
        color: black;
        font-family: "Montserrat", Arial, Tahoma, sans-serif;
      }
    }
  }
}
.chartContainer {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  .textInchart {
    margin-left: 22px;
    color: rgb(59, 58, 58);
    margin-top: 25px;
    h2 {
      font-weight: 400;
    }
    span {
      font-size: 15px;
      font-weight: 300;
      font-family: "Montserrat", Arial, Tahoma, sans-serif;
    }
  }
}

.annualContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  h6 {
    font-size: 15px;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
  }
}
.recentContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.tableRecent {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 2px;
  border-color: grey;
}
.donut {
  h2 {
    text-align: center;
    color: darkgrey;
    margin-top: 10px;
    font-weight: 400;
    font-size: 28px;
  }
  h6 {
    text-align: center;
  }
  h5 {
    text-align: center;
    color: darkgrey;
    margin-top: 8px;
    font-size: 16px;
  }

  span {
    text-align: center;
    display: block;
    font-weight: 300;
    font-size: 14px;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
  }
}
.noteContrary {
  display: flex;
  font-weight: 500;
  font-size: 13px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
  color: #6572b8;
  position: relative;
  margin-left: 20px;
}
.rowFlexMap {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // margin-left: 20px;
  background-color: whitesmoke;
  display: flex;
  border-radius: 4px;
  padding: 15px 0px;
  margin: 0 auto;
  top: 14.5px;

  width: 100%;
  position: relative;
}
.bodyChartmap {
  display: flex;
  justify-content: center;
}
.rowTopMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.tableHeading {
  width: 70px;
  height: 47px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
  font-size: 12px;
}
.hashStyle {
  width: 60px;
  height: 47px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.nameStyle {
  width: 98px;
  height: 47px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}

.itemStyle {
  width: 163px;
  height: 47px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.addressStyle {
  width: 400px;
  height: 47px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.qualityStyle {
  width: 113px;
  height: 47px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.statusStyle {
  width: 60px;
  height: 47px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.greyBoxStyle {
  width: 40px;
  height: 33px;
  background-color: "rgb(204,204,204)";
}
.greenStyle {
  border: 1px solid;
  padding: 3px;
  font-size: 11px;
  color: greenyellow;
}
.orangeStyle {
  border: 1px solid;
  padding: 3px;
  font-size: 11px;
  color: #fd7e14;
}
.greyStyle {
  border: 1px solid;
  padding: 3px;
  font-size: 11px;
  color: #888;
}
.heightChart {
  height: 80px;
}
@media screen and (max-width: 425px) {
  .report {
    flex-direction: column;
    &-div {
      width: 160px;
    }
  }
  .chartContainer {
    flex-direction: column;
    .container-style {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }
  .annualContainer {
    flex-direction: column;
    .container-style {
      width: 100% !important;
    }
  }
}
