@mixin displayItem {
  display: flex;
  color: white;
}
.contentsNav {
  display: flex;
  justify-content: space-between;
  background-color: #8c99e0;
  margin-left: -8px;
  padding: 30px;
  color: whitesmoke;
  min-height: 165px;
  box-sizing: inherit;
}

.containerMain {
  top: 48px;
  position: absolute;
}
.prodFont {
  font-size: 20px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.welcomeFont {
  font-size: 13px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.contentRoute {
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  div {
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
  }
}
.productCard {
  width: 20%;
  border-radius: 10px;
  background-color: rgb(243, 236, 236);
  padding: 15px;
  margin: 5px;
  div {
    margin-top: 5px;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
  }
  img {
    position: relative;
    top: 0px;
    transition-property: all;
    transition-duration: 500ms;
    border-radius: 10px;
  }
  img:hover {
    position: relative;
    top: -40px;
    box-shadow: 0px 4px 20px -5px;
    transition-property: all;
    transition-duration: 500ms;
  }
}
.productCards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -65px;
}
.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.productName {
  display: flex;
  align-items: center;
  justify-content: center;
}
// @media screen and (max-width: 768px) {
//   .productCards {
//     flex-direction: column;
//   }
//   .productCard {
//     width: 88%;
//   }
//   #productWelcomeMsg {
//     display: none;
//     font-family: "Montserrat", Arial, Tahoma, sans-serif;
//   }
//   .contentsNav {
//     justify-content: center;
//   }
// }
// .productCostRow > * {
//   margin-left: 10px;
//   font-size: medium;
// }

@media only screen and (max-width: 600px) {
  .productCards {
    flex-direction: column;
  }
  .productCard {
    width: 309px;
    height: 309px;
    background-color: slateblue;
  }
  #productWelcomeMsg {
    display: none;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
  }
  .contentsNav {
    justify-content: center;
  }

  .productCostRow > * {
    margin-left: 2px;
    font-size: medium;
  }

}
