@mixin displayItem {
  display: flex;
  color: white;
}
.contentsNav {
  display: flex;
  justify-content: space-between;
  background-color: #8c99e0;
  margin-left: -8px;
  padding: 30px;
  color: whitesmoke;
  min-height: 165px;
  box-sizing: inherit;
}

.containerMain {
  top: 48px;
  position: absolute;
}
.prodFont {
  font-size: 20px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.welcomeFont {
  font-size: 13px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.contentRoute {
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  div {
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
  }
}
.redFont {
  color: red;
  padding: 10px;
  padding-top: 8px;
}
.productCard {
  width: 20%;
  border-radius: 10px;
  background-color: rgb(243, 236, 236);
  padding: 15px;
  margin: 15px;
  div {
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
  }
  .imageItem {
    position: relative;
    top: 0px;
    transition: all 0.4s;
    border-radius: 10px;
    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      button {
        margin-top: 15px;
        margin-right: 5px;
        outline: none;
        border: none;
        transition: all 0.2s;
        background-color: white;
        padding: 4px 8px;
        border-radius: 4px;
        color: rgb(219, 101, 101);
      }
    }
  }
  .imageItem:hover {
    position: relative;
    top: -50px;
    box-shadow: 0px 4px 20px -5px;
    transition-property: all;
    transition-duration: 500ms;
    div {
      visibility: visible;
      opacity: 1;
      button:hover {
        opacity: 0.8;
      }
      button:active {
        background-color: greenyellow;
      }
    }
  }
}
.productCards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  top: -65px;
}
.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.productName {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 588px) {
  .productCards {
    flex-direction: column !important;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: -65px;
  }
  .productCard {
    width: auto;
    height: auto;
    margin: 10px;
  }
  #productWelcomeMsg {
    display: none;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
  }
  .contentsNav {
    justify-content: center;
    display: flex;

    background-color: #8c99e0;
    margin-left: -8px;
    padding: 30px;
    margin-top: 60px;
    color: whitesmoke;
    min-height: 165px;
    box-sizing: inherit;
  }

  .productCostRow > * {
    margin-left: 2px;
    font-size: medium;
  }
}
