@mixin displayRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@mixin display_FlexCenter {
  display: flex;
  align-items: center;
}
@mixin display_Flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.rootClass {
  display: flex;
}
.row2 {
  @include displayRow();
  width: 100%;
  justify-content: space-between;
}
.row1 {
  @include displayRow();
  margin-left: 250px;
}
.row {
  @include displayRow();
}
.toolBar1 {
  @include display_FlexCenter();
  margin-left: 25px;
}
.oreoName1 {
  @include display_FlexCenter();
  margin-left: 25px;
}
.toolBar2 {
  @include display_FlexCenter();
  margin-left: 35px;
}
.toolBar3 {
  @include display_FlexCenter();
  margin-left: 35px;
  background-color: white;
  border: 1px solid white;
  border-radius: 30px;
}
.toolBar4 {
  @include display_FlexCenter();
  padding: 10px;
}
.inputsearch {
  border: 1px solid white;
  border-radius: 30px;
  padding: 12px;

  box-sizing: inherit;
}
.search {
  display: flex;
  background-color: white;
  height: 35px;
  border: 1px solid white;
  border-radius: 30px;
  color: #424242;
  padding: 5px;
}
.appbarIcons {
  color: white;
  font-size: small;
  size: small;
}
.settingsRotate {
  @include display_FlexCenter();
  margin-left: 25px;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
.topdrawer {
  @include display_FlexCenter();
  flex-direction: row;
  margin-top: -50px;
  justify-content: space-around;
}
.iconColor {
  color: #888;
}
.oreo {
  font-family: "Montserrat", sans-serif;
  color: #888;
}
.homeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #6572b8;
  border-radius: 30px;
  padding: 5px;
  width: 102px;
  height: 46px;
}
.userIcon {
  @include display_Flex();

  border-radius: 30px;
  padding: 5px;
  width: 102px;
  height: 46px;
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  // margin-left: 10px;
  padding: 8px 12px;
  position: relative;
}
.header1 {
  margin-top: 15px;
  border: none;
}
.broderPanel {
  border: 1px white solid;
  outline: none;
  box-shadow: white;
}
.headerMain {
  font-size: 11px;
  font-weight: 700;
  color: #455a64;
  font-family: Montserrat, Arial, Tahoma, sans-serif;
}
.content {
  font-size: 11px;
  font-weight: 700;
  color: #455a64;
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartIcon {
  font-size: 17px;
  color: #6572b8;
  margin-left: 15px;
  margin-right: 10px;
}
.ecommerce {
  font-size: 20px;

  color: #6572b8;
  cursor: pointer;
  font-family: lato;
}
.ecommerce1 {
  font-size: 15px;
  color: #455a64;
  font-weight: 400;
  cursor: pointer;
  font-family: lato;
}
.heading {
  font-size: 16px;
  color: #6572b8;
  font-family: Montserrat, Arial, Tahoma, sans-serif;
}
.expansion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.expansion1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
}
.contentsNav {
  display: flex;
  justify-content: space-between;
  background-color: #8c99e0;
  margin-left: -8px;
  padding: 30px;
  color: whitesmoke;
  min-height: 165px;
  box-sizing: inherit;
}

.containerMain {
  top: 48px;
  position: absolute;
}
.prodFont {
  font-size: 20px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.welcomeFont {
  font-size: 13px;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.contentRoute {
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  div {
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
  }
}
.notify .heartbit {
  border-radius: 70px;
  position: absolute;
  top: -20px;
  right: -16px;
  height: 25px;
  width: 25px;
  z-index: 10;
  border: 4px solid;
  border-color: #53585a;
  animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation: heartbeat 0.75s ease-out infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.1);
  }
  20% {
    transform: scale(0.15);
  }
  30% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.5);
  }
  70% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(0.7);
  }
  90% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.98);
  }
}
.notify {
  position: absolute;
  top: 30px;
  margin-left: 16px;
}
.notify .point {
  border-radius: 30px;
  width: 6px;
  height: 6px;
  background-color: #3d4c5a;
  position: absolute;
  right: -6px;
  top: -10px;
}
.notificationrotate {
  display: flex;
  flex-direction: row;
}
.oreoName {
  font-size: 18px;
}
.rowProduct {
  margin-top: 64px;
  display: flex;
  background-color: #8c99e0;
  height: 150px;
  padding: 20px;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.productSizePro {
  height: 67px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.productColorPro {
  font-size: 20px;
  color: white;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.productWelcomePro {
  font-size: 13px;
  color: white;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.pathProduct {
  display: flex;
  justify-content: flex-end;
}
.homeIcon1Product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #b8c0e2;
  border-radius: 30px;
  padding: 5px;
  min-width: 300px;

  height: 46px;
  margin-left: 12px;
}
.oreoNew {
  // font-family: "Montserrat",sans-serif;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
.iconHomeColorProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 5px;
}
.wordStyle {
  color: #888;
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
  font-size: 13px;
}
.wordStyles {
  font-family: "Montserrat", Arial, Tahoma, sans-serif;
  font-size: 17px;
}

@media only screen and (max-width: 588px) {
  .rootToolbar {
    display: list-item;
    position: relative;
    align-items: center;
  }
  .productNamePro {
    display: none;
  }
  .wordStyles {
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
    font-size: 17px;
  }
  .homeIcon1Product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #b8c0e2;
    border-radius: 30px;
    padding: 5px;
    min-width: 300px;

    height: 46px;
    margin-left: 12px;
    margin-top: 10px;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -37px;
    margin-left: 30px;
  }
  .oreoName {
    display: none;
    font-size: 18px;
  }
  .oreoName1 {
    display: none;
  }
  .MuiToolbar-root.MuiToolbar-regular.rootToolbar.MuiToolbar-gutters {
    display: list-item;
    min-height: 96px;
  }
  .search {
    display: flex;
    width: 180px;
    input {
      display: flex;
      width: 150px;
    }
  }
  .row1 {
    @include displayRow();
    margin-left: 0;
  }
  .rootClass {
    display: list-item;
  }

  .rowProduct {
    margin-top: 94px;
    display: flex;
    background-color: #8c99e0;
    height: 150px;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
}
